* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:#e2e8f0 ;
}
h1{
    
  background-color: #1e293b;
  color: #f8fafc;
  padding: 12px 0 ;
}

.choice{
    height: 185px;
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.choice:hover{
    cursor: pointer;
    background:#94a3b8;
    transform: scale(1.1);
}

img{
   height: 170px;
   width: 170px;
   object-fit: contain;
   border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    gap: 5rem;
}
 

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color:#1e293b;
    color: #f8fafc;
    padding: 1rem;
    font-size: 3rem;
    display: inline;
    border-radius: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

#msg.win{
    background-color:  #22c55e;;
    color: white;
}

#msg.lose{
    background-color:  #ef4444;
    color: white;
}

#msg.draw{
    background-color: #1e293b;
    color: white;
}

#msg {
  animation: pop 0.25s ease;
}

@keyframes pop {
  0% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
 
